* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.video-cont {
  height: 100vh;
  width: 100vw;
  background: #252325;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  height: 90vh;
  width: 59vw;
  border-radius: 10px;
  background: linear-gradient(145deg, #282528, #212021);
  box-shadow: 10px 10px 20px #141314, -10px -10px 20px #363336;
}

.action-cont {
  height: 15rem;
  width: 5rem;
  position: absolute;
  top: calc((100vh - 15rem) / 2);
  right: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-cont > * {
  width: 100%;
  height: 5rem;
  border-radius: 121px;
  border-radius: 100%;
  box-shadow: inset 7.21px 7.21px 15px #211f1f,
    inset -7.21px -7.21px 15px #534d4d;
  border: 5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capture-btn {
  background-color: white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.record-btn {
  background-color: red;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.scale-record {
  animation-name: scale-record;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes scale-record {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}

.scale-capture {
  animation-name: scale-record;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes scale-capture {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}

.timer-cont {
  position: absolute;
  bottom: 10rem;
  left: 5rem;
  color: rgb(192, 199, 219);
  font-size: 0.8rem;
}
.timer {
  display: none;
}

@media screen and (max-width: 600px) {
  .action-cont {
    height: 5rem;
    width: 10rem;
    position: absolute;
    top: 35rem;
    right: 10rem;
    color: white;
    display: flex;
    flex-direction: row;
    left: 8rem;
  }

  .action-cont > * {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 5px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .capture-btn {
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }
  .record-btn {
    background-color: red;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }

  .timer-cont {
    position: absolute;
    top: 30rem;
    left: 10rem;
    color: rgb(192, 199, 219);
    font-size: 0.8rem;
  }
  .timer {
    display: none;
  }
}

/* filter container */
.filter-cont {
  position: absolute;
  top: calc((100vh - 16rem) / 2);
  left: 5rem;
  height: 16rem;
  width: 5rem;
  background-color: aqua;
}

.filter {
  height: 4rem;
  background-image: url("https://picsum.photos/seed/picsum/200/300");
  background-position: center;
  background-size: 100% 100%;
  background-color: rgba(58, 134, 75, 0.048);
  background-blend-mode: color-burn;
}

.orange {
  background-color: #ffa60060;
}
.brown {
  background-color: #a52a2a6b;
}
.pink {
  background-color: #ffc0cb9a;
}
.transparent {
  background-color: transparent;
}
